1. Encontrar el promedio de edad de hombres y mujeres.

2. Encontrar la cantidad de hombres y mujeres.

3. Encontrar la cantidad de supervivientes entre hombres y mujeres.

4. Encontrar la proporción de supervivientes entre hombres y mujeres.

5. Usar describe con incrementos del percentil de 10%.

In [28]:
#1
import pandas as pd
data = pd.read_csv("titanic_testing.csv")

data["Age"].mean()

29.69911764705882

In [40]:
#2
# m=0
# f=0
# for x in data["Sex"]:
#     if x == "male":
#         m+=1
#     elif x == "female":
#         f+=1
# print("Male: ", m)
# print("Female: ", f)
print("Male: ",(data["Sex"] == "male").sum())
print("Female: ",(data["Sex"] == "female").sum())

Male:  577
Female:  314

In [36]:
#3
data.groupby("Sex")["Survived"].sum()

Sex
female    233
male      109
Name: Survived, dtype: int64

In [39]:
#4 no da lo que debería dar
print("Male survival mean: ",((data["Sex"] == "male") & (data["Survived"] == 1)).mean())
print("Female survival mean: ",((data["Sex"] == "female") & (data["Survived"] == 1)).mean())

Male survival mean:  0.122334455667789
Female survival mean:  0.2615039281705948

In [44]:
data.describe()+0.1

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.100000,891.100000,891.100000,714.100000,891.100000,891.100000,891.100000
mean,446.100000,0.483838,2.408642,29.799118,0.623008,0.481594,32.304208
std,257.453842,0.586592,0.936071,14.626497,1.202743,0.906057,49.793429
min,1.100000,0.100000,1.100000,0.520000,0.100000,0.100000,0.100000
25%,223.600000,0.100000,2.100000,20.225000,0.100000,0.100000,8.010400
50%,446.100000,0.100000,3.100000,28.100000,0.100000,0.100000,14.554200
75%,668.600000,1.100000,3.100000,38.100000,1.100000,0.100000,31.100000
max,891.100000,1.100000,3.100000,80.100000,8.100000,6.100000,512.429200